@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Đặt Hàng Thành Công</h1>
        Số Đơn Đặt Hàng Của Bạn Là : @Model <br /><br />
        
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
       Đơn Hàng Của Bạn Đã Được Thanh Toán Thành Công! <br />
    </div>

</div> 