@model int

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Thanh Toán Thành Công!</h1>
        Số Hóa Đơn : @Model <br /><br />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Thanh Toán Được Áp Dụng Thành Công <br />
        <a asp-area="Admin"
           asp-controller="Order"
           asp-action="Details"
           asp-route-orderId="@Model" class="btn btn-primary">Quay Lại Chi Tiết Đơn Hàng</a>

    </div>

</div> 